.loading {
	@include container();
	margin-top: 30px;

	img {
		-webkit-animation: swim 1.5s ease-out infinite;
		animation: swim 1.5s ease-out infinite;
		display: block;
		margin: 0 auto;
		position: relative;
		width: 40px;
		z-index: 1;
	}
}
