@-webkit-keyframes hide {
	0% {
		opacity: 1;
		-webkit-transform: scale(1, 1) translateX(0px);
		transform: scale(1, 1) translateX(0px);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: scale(0.75, 0.75) translateX(-1200px);
		transform: scale(0.75, 0.75) translateX(-1200px);
	}
}

@keyframes hide {
	0% {
		opacity: 1;
		-webkit-transform: scale(1, 1) translateX(0px);
		transform: scale(1, 1) translateX(0px);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: scale(0.75, 0.75) translateX(-1200px);
		transform: scale(0.75, 0.75) translateX(-1200px);
	}
}

@-webkit-keyframes show {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.75, 0.75) translateX(1200px);
		transform: scale(0.75, 0.75) translateX(1200px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: scale(1, 1) translateX(0px);
		transform: scale(1, 1) translateX(0px);
	}
}

@keyframes show {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.75, 0.75) translateX(1200px);
		transform: scale(0.75, 0.75) translateX(1200px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: scale(1, 1) translateX(0px);
		transform: scale(1, 1) translateX(0px);
	}
}

@keyframes swim {
	0% {
		transform: translate(0px, 0px);
	}

	24% {
		transform: translate(120px, 0px) rotateY(0deg);
	}

	25% {
		transform: translate(125px, 0px) rotateY(180deg);
	}

	75% {
		transform: translate(-120px, 0px) rotateY(180deg);
	}

	76% {
		transform: translate(-125px, 0px) rotateY(0deg);
	}
	
	100% {
		transform: translate(0px, 0px);
	}
}
