@mixin container() {
	clear: both;
	float: left;
	width: 100%;
}

@mixin transform($properties) {
	-webkit-transform: $properties;
	-ms-transform: $properties;
	transform: $properties;
}

@mixin vertical-center() {
	@include transform(translateY(-50%));
	position: absolute;
	top: 50%;
}
