$red-light: rgb(235, 100, 80);
$red: rgb(215, 80, 60);
$red-dark: rgb(205, 70, 50);
$red-border: rgb(195, 60, 40);
$red-border-dark: rgb(185, 50, 30);
$gray-light: rgb(160, 160, 160);
$gray: rgb(80, 80, 80);
$gray-border: rgb(60, 60, 60);
$yellow: rgb(255, 160, 100);
$white: rgb(255, 255, 255);

$radius: 3px;
