.field {
	@include container;
	margin-top: 30px;
	position: relative;

	&:first-child {
		margin-top: 0;
	}
}

.options {
	button {
		background: $red;
		border-bottom: 3px solid $red-border;
		margin-left: 30px;
		padding: 0;
		width: 80px;

		&:hover,
		&:focus {
			background: mix($white, $red, 5%);
			border-bottom: 3px solid mix($white, $red-border, 5%);
		}

		&:active,
		&.active {
			background: $red-dark;
			border-bottom: 0;
			border-top: 3px solid $red-border-dark;
		}

		&.active:hover,
		&.active:focus {
			background: mix($white, $red-dark, 5%);
			border-top: 3px solid mix($white, $red-border-dark, 5%);
		}

		&:first-child {
			margin-left: 0;
		}
	}	
}

.submit {
	padding-left: 230px;

	button {
		width: 300px;
	}
}

.success {
	text-align: center;
}
