.url span:last-child {
	font-weight: 700;
	margin: 0;
}

.information {
	background: $yellow;
	border-radius: $radius;
	margin: 0 auto;
	padding: 18px 25px;
	right: 0;
	width: 400px;
	word-wrap: break-word;

	&.error {
		background: $red;
	}

	&.secret {
		background: #fff;
		color: $gray;
	}
}
